.ship__title {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #828282;
  margin-bottom: 9px;
  font-family: "Oswald", sans-serif;
}
.ship__row {
  display: flex;
  flex-direction: column;
}
.ship__row:not(:last-child) {
  margin-bottom: 9px;
}
.ship__row:nth-child(4) {
  margin-bottom: 6px;
}
.ship__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #3f3f3f;
  font-family: "Roboto", sans-serif;
}
.ship__required {
  color: #eb5757;
}
.ship__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.ship__wrapper .ship__input:not(:last-child) {
  margin-bottom: 5px;
}
.ship__input, .ship__select {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  padding: 0;
  margin: 0;
  padding: 10px 11px;
  border: 1px solid #c4c4c4;
}
.ship__select {
  margin-bottom: 32px;
}
.ship__text {
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 6px;
  color: #828282;
  font-family: "Roboto", sans-serif;
}
.ship__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 15px;
}
.ship__btn--login, .ship__btn--next {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 10px 57px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ship__btn--login:hover {
  background-color: transparent;
  color: #000000;
}
.ship__btn--next:hover {
  background-color: transparent;
  color: #000000;
}
.ship__btn--restore {
  font-size: 14px;
  line-height: 143%;
  color: #0f6db1;
  background-color: transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
}
.ship__btn--restore:hover {
  color: #57a4eb;
}
.ship__line {
  height: 1px;
  margin-bottom: 21px;
  background-color: #c4c4c4;
}
.ship__item {
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 2px solid #f0f2f2;
}
.ship__item input[type=radio] {
  margin-right: 16px;
  accent-color: #000000;
  width: 10px;
  height: 10px;
}
.ship__item:first-child .ship__rate {
  color: #000000;
}
.ship__methods {
  display: flex;
  justify-content: space-evenly;
  float: left;
  gap: 15px;
}
.ship__type-text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}
.ship__rate, .ship__type {
  font-weight: 400;
  font-size: 10px;
  color: #3f3f3f;
  font-family: "Roboto", sans-serif;
}
.ship__rate {
  width: 58px;
}
.ship__type:not(:last-child) {
  width: 79px;
}
.ship__navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.ship__btn--back {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: transparent;
  color: #828282;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ship__btn--back:hover {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .ship__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
  }
  .ship__form {
    width: 606px;
  }
  .ship__title {
    font-size: 24px;
    line-height: 283%;
    color: #000000;
  }
  .ship__row {
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
  }
  .ship__row:not(:last-child) {
    margin-bottom: 24px;
  }
  .ship__row:nth-child(4) {
    margin-bottom: 10px;
  }
  .ship__label {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 10px;
    margin-bottom: 4px;
  }
  .ship__input, .ship__select {
    font-size: 16px;
    line-height: 125%;
    padding: 11px 15px;
    width: 410px;
  }
  .ship__text {
    font-size: 14px;
    line-height: 143%;
    margin-bottom: 24px;
  }
  .ship__btns {
    flex-direction: row;
    gap: 0;
  }
  .ship__btn--login, .ship__btn--next {
    margin-right: 25px;
    padding: 15px 40px;
  }
  .ship__wrapper .ship__input:not(:last-child) {
    margin-bottom: 13px;
  }
  .ship__type-text {
    display: none;
  }
  .ship__rate, .ship__type {
    font-size: 14px;
    line-height: 143%;
  }
  .ship__btns {
    margin-bottom: 36px;
  }
  .ship__line {
    width: 410px;
    margin-bottom: 39px;
  }
  .ship__item {
    border-top: 1px solid #c4c4c4;
    border-bottom: none;
  }
  .ship__item:last-child {
    width: 443px;
  }
  .ship__rate {
    margin-right: 107px;
  }
  .ship__type:not(:last-child) {
    margin-right: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .ship__wrap {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0 auto;
    margin-top: 57px;
  }
  .ship__line {
    width: 550px;
  }
  .ship__form {
    width: 550px;
  }
}
@media screen and (min-width: 1920px) {
  .ship__wrap {
    gap: 106px;
  }
  .ship__line {
    width: 606px;
  }
  .ship__form {
    width: 606px;
  }
}/*# sourceMappingURL=ShippingDetails.module.css.map */