.whishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation {
  color: rgb(130, 130, 130);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 68px;
}

.whishlistH1 {
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
  font-family: "Oswald";
  font-size: 48px;
  font-weight: 400;
  line-height: 68px;
}
@media screen and (max-width: 1200px) {
  .whishlistH1 {
    font-size: 41px;
    margin-bottom: 20px;
  }
}

.mainDiv {
  display: flex;
  justify-content: space-between;
  padding: 73px 186px 132px 212px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 1200px) {
  .mainDiv {
    max-width: 100%;
    margin-bottom: 43px;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding: 55px;
    flex-direction: column;
  }
}

.navContainer {
  margin-right: 108px;
}
@media screen and (max-width: 1200px) {
  .navContainer {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .navList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navList {
    gap: 22px;
  }
}

.navLink {
  display: flex;
  align-items: center;
  padding: 0 0 0 13px;
  max-width: 239px;
  height: 44px;
  color: rgb(130, 130, 130);
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  transition: font-weight 0.5s ease, line-height 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}
.navLink:hover {
  font-weight: 500;
  line-height: 24px;
  background-color: rgb(240, 242, 242);
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 1200px) {
  .navLink {
    padding: 0;
  }
}

.active {
  color: rgb(0, 0, 0);
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background: rgb(240, 242, 242);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
  }
}

.card {
  max-width: 200px;
}
@media screen and (max-width: 1200px) {
  .card {
    max-width: 190px;
  }
}

.cardImageWrapper {
  display: flex;
  gap: 7px;
}

.cardImage {
  width: 167px;
  height: 219px;
  margin-bottom: 7px;
}

.btnPositions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.removeButton,
.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: rgb(230, 241, 250);
  cursor: pointer;
  border: none;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  z-index: 0;
  overflow: hidden;
}

.removeButton:hover,
.editButton:hover {
  transform: scale(1.09);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.removeButton {
  top: 0px;
  right: 5px;
}

.removeIcon {
  width: 10px;
  height: 10px;
}

.editButton {
  top: 0px;
  right: 30px;
}

.editIcon {
  width: 10px;
  height: 10px;
}

.cardTitle {
  margin-bottom: 12px;
  color: rgb(0, 0, 0);
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.cardPrice {
  margin-bottom: 17px;
  color: rgb(130, 130, 130);
  font-family: "Roboto", Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.cardControls {
  display: flex;
  gap: 11px;
}

.quantityInput {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  background: rgb(255, 255, 255);
  color: rgb(63, 63, 63);
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.addToCart {
  position: relative;
  width: 117px;
  height: 40px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  z-index: 0;
  overflow: hidden;
}

.addToCart:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bottomButtons {
  display: flex;
  margin-top: 58px;
  gap: 15px;
}

.secondaryButton {
  width: 169px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid rgb(196, 196, 196);
  background: rgb(240, 242, 242);
  color: rgb(130, 130, 130);
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.35s ease, box-shadow 0.35s ease, border 0.35s ease;
  z-index: 0;
  overflow: hidden;
}

.secondaryButton:hover {
  transform: scale(1.07);
  border: 3px solid rgb(196, 196, 196);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=Whishlist.module.css.map */