.blog {
    padding: 60px 0;
    background: #F8F9FB;
    font-family: 'Oswald', sans-serif;

    &__container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 30px;
    }

    &__title {
        color: #000;
        font-size: clamp(32px, 5vw, 48px);
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 40px;
        text-transform: uppercase;

        @media (max-width: 1024px) {
            text-align: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding-bottom: 40px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background: #FFF;
        padding: 24px;
        display: flex;
        flex-direction: column;
        min-height: 450px;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 15px 40px rgba(0,0,0,0.08);
        }
    }

    &__title_item {
        color: #BDBDBD;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__subtitle_item {
        color: #000;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    &__info_item {
        color: #4F4F4F;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: 40px;
    }

    &__line_item {
        height: 3px;
        width: 100%;
        background: #000;
        margin-top: auto;
        margin-bottom: 15px;
    }

    &__date_item {
        color: #828282;
        font-size: 13px;
        text-transform: uppercase;
    }
}