@import '../../../sass/utils/variables.scss'; 

.blog {
    padding: 60px 0;
    background: $form-bg-color;
    font-family: 'Oswald', sans-serif;

    // &__container {
    //     width: 100%;
    //     max-width: 100%;
    //     margin: 0 auto;
    //     padding: 0 10px;
    // }

    &__title {
        color: $main-text-color;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-bottom: 30px;
        text-transform: none;

        @media (max-width: 1024px) {
            text-align: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        list-style: none;
        margin: 0;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background: $bg-color;
        transition: all $st-transition;

        a {
            display: flex;
            flex-direction: column;
            padding: 30px 24px 20px;
            height: 100%;
            min-height: 420px;
            text-decoration: none;
        }

        &:hover {
            box-shadow: 0 15px 40px rgba(0,0,0,0.06);
        }
    }

    &__title_item {
        color: $subtitle-text-color;
        font-family: "Oswald", sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
    }

    &__subtitle_item {
        color: $main-text-color;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    &__info_item {
        color: $secondary-text-color;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: 30px;
    }

    &__line_item {
        height: 2px;
        width: 100%;
        background: $main-text-color;
        margin-top: auto;
        margin-bottom: 15px;
    }

    &__date_item {
        color: $secondary-text-color;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        text-transform: lowercase;
    }
}