.cardlist {
    width: 1483px;


    &__list {
        display: flex;
        gap: 40px 20px;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc((100% - 20px) / 5);
        width: 344px;
        height: 548px;
    }

    &__img {
        width: 344px;
        height: 450px;
        flex-shrink: 0;
        margin-bottom: 12px;
    }

    &__title {
        color: #BDBDBD;
        font-family: Oswald;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #000;
        font-family: Oswald;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 18px;
    }

    &__price {
        color: #000;
        font-family: Oswald;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
}