.mainTitle{
    color: var(--Gray-1, #828282);
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px; /* 680% */
    display: block;

     @media screen and (min-width: 1920px) {
        display: none;
    }
}

.mainWrapper{
   

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
          display: flex;
          margin-top: 57px;
    }
    @media screen and (min-width: 1920px) {
       
    }
}

.cardImgBox{
    // background-color: brown;
    width: 76px;
    margin-left: 243px;
    margin-right: 20px;
         display: none;

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
        //  display: none;
    }
    @media screen and (min-width: 1920px) {
       display: block;
    }
}

.cardImgList{
    
    // display: none;


    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
    }
    @media screen and (min-width: 1920px) {
       display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.cardImg{
    width: 76px;
    height: 96px;
    flex-shrink: 0;

   
}

.mainImgBox{
    outline: solid blue 2px;
   
     @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
        width: 624px;
        margin-right: 69px;
    }
    @media screen and (min-width: 1920px) {
       
    }
}

.mainImg{
    width: 320px;
    height: 255px;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
        width: 624px;
        height: 790px;
    }
    @media screen and (min-width: 1920px) {
        
    }
}

.mainImgText{
    color: var(--Black, #000);
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px; /* 566.667% */
    text-transform: uppercase;
    margin-right: 13px;
    // margin-left: 259px;
}

.mainIconListBox{
     display: flex;
     outline: solid red 2px;
     justify-content: center;
}

.mainIconList{
    display: flex;
    gap: 13px;
}

.mainIconItem{
    display: flex;
    align-items: center;
}

.mainIconMedia{
    fill: #000;
}


.catalogeMainBox{
    outline: solid green 2px;
   

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
        width: 550px;
    }
    @media screen and (min-width: 1920px) {
        
    }
}

.catalogeTitle{
    color: var(--Gray-1, #828282);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px; /* 485.714% */
    display: none;

     @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
        display: block;

    }
    @media screen and (min-width: 1920px) {
       
    }

}

.fendiWrapper{
    display: flex;

    @media screen and (min-width: 768px) {
	
    }

    @media screen and (min-width: 1200px) {
        display: block;
        order: 1;
    }

    @media screen and (min-width: 1920px) {
        
    }
}

.fendiBox {
    background: var(--Light-Blue-Hover, #F0F2F2);
    width: 48px;
    height: 22px;
   
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    order: 2;

    @media screen and (min-width: 768px) {
	
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        width: 75px;
        height: 35px;
        order: 1;
    }

    @media screen and (min-width: 1920px) {
        
    }
}

.fendiIcon {
    width: 32.639px;
    height: 8.969px;
    flex-shrink: 0;
    @media screen and (min-width: 768px) {
	
    }

    @media screen and (min-width: 1200px) {
        width: 51px;
        height: 15px;


    }

    @media screen and (min-width: 1920px) {
        
    }
}


.catalogeSubTitle {
    color: #000;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    width: 216px;
    margin-bottom: 28px;
    // order: 2;

    @media screen and (min-width: 768px) {
	
    }

    @media screen and (min-width: 1200px) {
        font-size: 48px;
        line-height: 56px; /* 116.667% */
        width: 493px;
        // order: 1;
    }

    @media screen and (min-width: 1920px) {
        
    }
}

.catalogeText{
    color: var(--Black, #000);
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.catalogeColorList{
   width: 101px;
   display: flex;
   gap: 10px; 
   margin-bottom: 22px;
}

// .catalogeColorList .catalogeColorItem:nth-child(1) {
//      width: 20px;
//     height: 20px;
//     background-color: #24426A;
// }

// .catalogeColorList .catalogeColorItem:nth-child(2) {
//      width: 20px;
//     height: 20px;
//     background-color: wheat;
// }

// .catalogeColorList .catalogeColorItem:last-child {
//     width: 20px;
//     height: 20px;
//     background-color: #666689;
// }

.selectBox{
    display: flex;
    margin-bottom: 10px;
    order: 2;
}

.selectText{
    color: var(--Black, #000);
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 139px;
}

.selectLink{
    color: var(--Link, #0F6DB1);
    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    width: 150px;

    @media screen and (min-width: 768px) {
	
    }

    @media screen and (min-width: 1200px) {
    width: 410px;
        
    }

    @media screen and (min-width: 1920px) {
        
    }
}

.sizeList{
    
    // display: none;
    width: 550px;
    gap: 9px;

    margin-bottom: 36px;
     display: none;

    @media screen and (min-width: 768px) {
       display: flex;
       flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
       
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1920px) {
        
    }
}

.selectSize{
    display: flex;
    padding: 10px;
    width: 290px;
    border: solid #C4C4C4 1.5px;


    @media screen and (min-width: 768px) {
       display: none;
    }
}

.sizeItem{
    width: 46px;
    height: 46px;
    outline: solid #C4C4C4 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
            border: solid #828282 2px;
            
            outline-offset: 2px;
    }
}

.sizeText{
    color: var(--Gray-1, #828282);
    text-align: center;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px; /* 485.714% */
    text-transform: uppercase;
}





.btnCatalogeSize{
    width: 46px;
    height: 46px;
    background-color: #FFF;

    color: var(--Gray-1, #828282);
    // text-align: center;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    // line-height: 68px; /* 485.714% */
    text-transform: uppercase;
}

.activeBtnCataloge{
    outline: solid black 3px;
    // background-color: darkslategray;
}



.quantityBox{
    display: flex;
    order: 1;
}

.quantityText{
    color: var(--Black, #000);
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    width: 84px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.quantityTextSub{
    color: var(--Black, #000);
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    width: 360px;
}

.euroWrap{
    display: flex;
}

.euroText{
    color: var(--Black, #000);
    font-family: Oswald;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    margin-left: 24px;
}

.plusMinusBox{
    display: flex;
    align-items: center;

    border: 1px solid var(--Divider, #C4C4C4);
    background: #FFF;
    width: 120px;
    margin-bottom: 36px;
}

.plusMinusText{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    width: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.minusBoxIcon{
    margin-left: 19px;
    margin-right: 16px;
}

.plusBoxIcon{
    // padding-top: 16px;
    // padding-bottom: 15px;
    margin-left: 16px;
    margin-right: 19px;
}

.btnBox{
    display: flex;
    gap: 18.5px;
}

.btnAdd{
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #000;

    

    width: 139px;
    height: 38px;

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
       width: 221px;
        height: 50px;
        flex-shrink: 0;
    }
    @media screen and (min-width: 1920px) {
        
    }
}

.btnSave{
    
    text-align: center;

    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #fff;

    flex-shrink: 0;
    width: 139px;
    height: 38px;


    border: 2px solid var(--Divider, #C4C4C4);

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
       width: 221px;
        height: 50px;
    }
    @media screen and (min-width: 1920px) {
        
    }
}

.btnSaveText{
color: #3F3F3F;
}

.underBtnList{
    display: flex;
    gap: 15px;
    width: 290px;
    flex-wrap: wrap; 

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
       width: 500px;
        flex-wrap: nowrap; 
    }
    @media screen and (min-width: 1920px) {
        
    }
}

.underBtnText{
    color: var(--Gray-1, #828282);
    font-family: Oswald;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
	
    }
    @media screen and (min-width: 1200px) {
    line-height: 68px; 
      
    }
    @media screen and (min-width: 1920px) {
        
    }
}



/////

// .sizeItem {
//   border: 1px solid #ccc;
//   padding: 5px 10px;
//   cursor: pointer;
//   border-radius: 4px;
//   transition: 0.2s;
// }

.sizeItem:hover {
  border-color: #000;
}

.activeSize {
//   background-color: black;
    // color: black;
    outline: 2px solid rgb(0, 0, 0); 
    border-color: black;
}

.catalogeColorItem {
    width: 20px;
    height: 20px; 
    transition: outline-offset 0.2s linear;

    // &:hover{
    //         border: solid #828282 2px;
    //         outline-offset: 2px;
    // }
  
}

.activeColor {
    outline: 2px solid rgb(0, 0, 0); 
    // outline-offset: 2px; 

}
