.ship {
  &__wrap {
    display: flex;
    justify-content: center;
    gap: 106px;
    margin-top: 57px;
  }
  &__form {
    width: 606px;
  }
  &__title {
    font-size: 24px;
    line-height: 283%;
  }
  &__row {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__row:not(:last-child) {
    margin-bottom: 24px;
  }
  &__row:nth-child(4) {
    margin-bottom: 10px;
  }
  &__label {
    font-size: 16px;
    line-height: 125%;
    color: #3f3f3f;
  }
  &__required {
    color: #eb5757;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    .ship__input:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  &__input,
  &__select {
    font-size: 16px;
    line-height: 125%;
    padding: 0;
    margin: 0;
    border: 1px solid #c4c4c4;
    width: 410px;
    padding: 11px 15px;
  }
  &__select {
    width: 440px;
  }
  &__text {
    font-size: 14px;
    line-height: 143%;
    color: #828282;
    margin-bottom: 24px;
  }
  &__btns {
    margin-bottom: 36px;
  }
  &__btn--login,
  &__btn--next {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    background-color: #000000;
    padding: 15px 40px;
    margin-right: 25px;
  }
  &__btn--restore {
    font-size: 14px;
    line-height: 143%;
    color: #0f6db1;
    background-color: transparent;
  }
  &__line {
    height: 1px;
    width: 606px;
    margin-bottom: 39px;
    background-color: #c4c4c4;
  }
  &__item {
    display: flex;
    gap: 13px;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid #c4c4c4;
    input[type="radio"] {
      margin-right: 16px;
      accent-color: black;
      width: 10px;
      height: 10px;
    }
  }
  &__item:first-child .ship__rate {
    color: #000000;
  }
  &__item:last-child {
    width: 443px;
  }
  &__methods {
    display: flex;
    justify-content: space-evenly;
    float: left;
  }
  &__rate,
  .ship__type {
    font-size: 14px;
    line-height: 143%;
    color: #3f3f3f;
  }
  &__rate {
    margin-right: 107px;
    width: 58px;
  }
  &__type:not(:last-child) {
    width: 79px;
    margin-right: 65px;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  &__btn--back {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background-color: transparent;
    // margin-left: 454px;
  }
}
