@import "../../../sass/utils/variables.scss";

.apbaner__box {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../../images/Article/ArticlePage-Baner.png);
  height: 470px;

  @media screen and (min-width: 768px) {
    width: 735px;
    height: 470px;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
    height: 478px;
  }

  @media screen and (min-width: 1920px) {
    width: 1890px;
    height: 478px;
  }
}

.apbaner__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apbaner__titlebox {
  display: flex;
  width: 450px;
  height: 135px;
  background-color: $bg-color;
  flex-direction: column;
  padding-top: 20px;

  @media screen and (min-width: 420px) {
    width: 450px;
    height: 100px;
  }

  @media screen and (min-width: 768px) {
    width: 735px;
    height: 100px;
    padding-top: 25px;
  }

  @media screen and (min-width: 1200px) {
    width: 1035px;
    height: 100px;
  }

  @media screen and (min-width: 1920px) {
    width: 1242px;
    height: 100px;
  }
}

.apbaner__title {
  color: $main-text-color;
  text-align: center;
  font-family: Oswald;
  font-size: 28px;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    font-size: 37px;
    font-weight: 400;
  }

  @media screen and (min-width: 1200px) {
    font-size: 48px;
    font-weight: 400;
  }

  @media screen and (min-width: 1920px) {
    font-size: 48px;
    font-weight: 400;
  }
}
