.sorting__form {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

.sorting__select-sortBy,
.sorting__select-sortNum {
    font-family: Oswald;
    font-weight: 400;
    font-size: 14px;
    line-height: 68px;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: none;
    border: 1px solid rgba(196, 196, 196, 1);
    background: none;
    padding: 11px;
}

.sorting__select-sortBy {
    width: 255px;
    height: 46px;
}

.sorting__select-sortNum {
    width: 69px;
    height: 46px;
}