@mixin typography($font-family, $font-weight, $font-size, $line-height, $letter-spacing, $text-align) {
	font-family: $font-family;
	font-weight: $font-weight;
	leading-trim: NONE;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	text-align: $text-align;
	vertical-align: middle;
}

@mixin flex($justify-content: center, $align-items: center, $gap: 0, $flex-wrap: wrap, $flex-direction: row) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	gap: $gap;
	flex-wrap: $flex-wrap;
	flex-direction: $flex-direction;
}

@mixin mob-s() {
	@media screen and (min-width: 320px) {
		@content;
	}
}

@mixin mob-l() {
	@media screen and (min-width: 480px) {
		@content;
	}
}

@mixin tab() {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desk-s() {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

@mixin desk-l() {
	@media screen and (min-width: 1920px) {
		@content;
	}
}
