$functional-bg-color: #e6f1fa;
$functional-bg-hover-color: #d0e4f2;
$accent-color: #eb5757;
$main-text-color: #000000;
$inactive-color: #3f3f3f;
$bg-color: #ffffff;
$contrast-text-color: #ffffff;
$secondary-text-color: #828282;
$subtitle-text-color: #bdbdbd;
$form-bg-color: #f0f2f2;
$main-hover-color: #f0f2f2;
$divider-color: #c4c4c4;
$outline-color: #c4c4c4;
$link-color: #0f6db1;
$info-bg-color: #f8f9fb;
$st-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$bannergadientf : linear-gradient(to top, #F1EFF0 , #F1F0F0 , #F3F0EF) ;
$bannergradients : linear-gradient(to top, #E0DED3 , #E0DDD5 , #E0DDD5) ;
$bannergradientt : linear-gradient( to right, #F7E0D5 0% , #F3DCD2 86% , #F3DCD224 14%) ;
$footer-divider-color: #4F4F4F;
$modal-text-color: #666;
$modal-hover-color: #333;
$modal-overlay-bg: rgba(0, 0, 0, 0.6);
$modal-shadow: rgba(0, 0, 0, 0.2);
