@import "../../../sass/utils/variables.scss";
@import "../../../sass/utils/mixins.scss";

@include mob-s() {
	.banner {
		background-color: $main-text-color;
		color: $bg-color;
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		background-image: url(../../../images/catalog/banner.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		user-select: none;

		margin: 18px 0;

		&__content {
			width: 60%;
			padding: 1rem;

			@media (min-width: 1024px) {
				padding: 3rem;
			}
		}

		&__container {
			display: flex;
		}

		&__subtitle-d {
			display: none;

			@media (min-width: 1024px) {
				display: block;
				font-size: 1.4rem;
				margin-bottom: 2rem;
			}
		}

		&__title {
			font-family: "Oswald", sans-serif;
			font-weight: 500;
			font-size: 0.9rem;

			margin-bottom: 0.5rem;
			text-transform: uppercase;

			@media (min-width: 1024px) {
				margin-bottom: 1rem;
				font-size: 2.5rem;
				border-right: 2px solid $bg-color;
				border-top: 2px solid $bg-color;
				padding-top: 1rem;
				padding-right: 1rem;
			}
		}

		&__subtitile {
			font-size: 0.4rem;
			margin-bottom: 0.5rem;

			@media (min-width: 1024px) {
				display: none;
			}
		}

		&__btn {
			transition: $st-transition;
			font-family: "Oswald", sans-serif;
			font-weight: 500;
			text-transform: uppercase;
			background: transparent;
			padding: 0.3rem 1.3rem;
			color: $bg-color;
			border: 2px solid $bg-color;
			font-size: 0.6rem;

			@media (min-width: 1024px) {
				font-size: 1rem;
				padding: 0.5rem 2.5rem;
			}

			&:hover {
				background: $accent-color;
			}
		}
	}
}

@include desk-s() {
	.banner {
		margin: 26px 0;
	}
}
