@import '../../../sass/utils/variables.scss';

.banner {
  background-color: $main-text-color;
  color: $bg-color;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-image: url(../../../images/catalog/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  user-select: none;


  &__content {
    width: 60%;
    padding: 1rem;

    @media (min-width: 1200px) {
      padding: 3rem;
    }
  }

  &__container {
    display: flex;
  }

  &__subtitle-d {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      font-size: 1rem;
        margin-bottom: 1.6rem;
    }
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 0.5rem;

    margin-bottom: 0.5rem;
    text-transform: uppercase;

    @media (min-width: 1200px) {
      margin-bottom: 0.6rem;
      font-size: 2.1rem;
      border-right: 2px solid $bg-color;
      border-top: 2px solid $bg-color;
      padding-top: 0.6rem;
      padding-right: 0.6rem;
    }
  }

  &__subtitile {
    font-size: 0.2rem;
    margin-bottom: 0.6rem;

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__btn {
    transition: $st-transition;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: transparent;
    padding: 0.3rem 1.3rem;
    color: $bg-color;
    border: 2px solid $bg-color;
    font-size: 0.1rem;

    @media (min-width: 1200px) {
      font-size: 0.6rem;
      padding: 0.3rem 2.3rem;
    }

    &:hover {
      background: $accent-color;
    }
  }
}