.articleslist__box {
  width: 818px;
}

.articleslist__title {
  color: var(--Black, #000);
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  padding-left: 318px;
  margin-bottom: 35px;
}

.articleslist__text1 {
  color: var(--Black-2, #3f3f3f);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  width: 818px;
  padding-left: 318px;
}

.articleslist__text2 {
  color: var(--Black-2, #3f3f3f);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  width: 818px;
  padding-left: 318px;
  margin-bottom: 101px;
}

.articleslist__dresses {
  margin-bottom: 25px;
  padding-left: 318px;
}