@import "../../../sass/utils/variables.scss";
.order {
  &__backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__modalWrap {
    background-color: $bg-color;
    z-index: 999;
    border-radius: 8px;
    padding: 15px;
  }
  &__wrap {
    background-color: $bg-color;
    padding: 15px;
    height: fit-content;
    margin-top: 20px;
    margin: 0 auto;
    padding-top: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 283%;
    color: $main-text-color;
    font-family: "Oswald", sans-serif;
  }
  &__close {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 15px;
    height: 15px;
  }
  &__wrapper {
    border-top: 1px solid $divider-color;
    padding-top: 12px;
  }
  &__ans {
    .order__list {
      margin-bottom: 25px;
    }
    .order__item {
      justify-content: space-between;
      display: flex;
      font-family: "Oswald", sans-serif;
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: $secondary-text-color;
      }
      .order__subtotal {
        color: $main-text-color;
      }
    }
    .order__item:last-child {
      p {
        font-weight: 500;
      }
    }
  }
  &__total-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    margin-bottom: 19px;
    border-top: 2px solid $main-hover-color;
    p,
    span {
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 133%;
    }
  }
  &__que {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
    border-bottom: 1px solid $divider-color;
    padding-bottom: 4px;
    font-family: "Roboto", sans-serif;
  }
  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
  }
  &__icon {
    width: 12px;
    height: 10px;
  }
  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__subitem {
    display: flex;
    font-family: "Oswald", sans-serif;

  }
  &__img {
    width: 83px;
    height: 103px;
  }
  &__subwrap {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 133%;
    margin-bottom: 3px;
  }
  &__quantity {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: $subtitle-text-color;
    span {
      color: $inactive-color;
    }
  }
  &__viewBtn {
    font-weight: 400;
    font-size: 14px;
    color: $inactive-color;
    display: flex;
    align-items: center;
    margin-top: 3px;
    font-family: "Roboto", sans-serif;
    img {
      margin-left: 12px;
    }
  }
  &__sum {
    color: $inactive-color;
  }
  &__subwrap {
    flex-direction: row;
  }
  &__subtitle {
    width: 190px;
  }
  &__subwrap {
    gap: 94px;
  }
  &__subtitle {
    font-size: 18px;
  }
}
button {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
@media screen and (min-width: 768px) {
  .order {
    &__wrap {
      display: none;
    }
  }
}
