@import "../../../sass/utils/variables.scss";
.order {
  &__wrap {
    border: 2px solid $outline-color;
    background-color: $form-bg-color;
    padding: 10px 12px;
    height: fit-content;
    margin-top: 20px;
  }
  &__title,
  &__wrapper,
  &__list {
    display: none;
  }
  &__phone {
    display: flex;
    justify-content: space-between;
  }
  &__total {
    font-weight: 500;
    font-size: 12px;
    color: $main-text-color;
    font-family: "Oswald", sans-serif;
    span {
      font-weight: 400;
      color: $secondary-text-color;
    }
  }
  &__details {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: $main-text-color;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-family: "Oswald", sans-serif;
    transition: all $st-transition;
    img {
      width: 12px;
      height: 14px;
      margin-right: 6px;
    }
  }
  &__details:hover {
    color: $secondary-text-color;
  }
}
button {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
.order__mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .order {
    &__wrap {
      order: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .order {
    &__wrap {
      width: 530px;
      margin: 0;
      margin-top: 20px;
      padding: 11px 30px 50px 30px;
    }
    &__title,
    &__wrapper,
    &__list {
      display: block;
    }
    &__phone {
      display: none;
    }
    &__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 283%;
      color: $main-text-color;
      font-family: "Oswald", sans-serif;
    }
    &__ans {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all $st-transition;
      &.open {
        max-height: fit-content;
        opacity: 1;
      }
      .order__list {
        margin-bottom: 25px;
      }
      .order__item {
        justify-content: space-between;
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 133%;
          color: $secondary-text-color;
        }
      }
    }
    &__total-wrap {
      display: flex;
      justify-content: space-between;
      padding-top: 23px;
      margin-bottom: 19px;
      border-top: 1px solid $outline-color;
      p,
      span {
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
      }
    }
    &__que {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 13px;
      .order__icon {
        transition: transform 0.3s ease;
      }

      &.active .order__icon {
        transform: rotate(180deg);
      }
    }
    &__info {
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
    }
    &__icon {
      width: 12px;
      height: 10px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &__item {
      display: flex;
      font-family: "Oswald", sans-serif;
    }
    &__img {
      width: 83px;
      height: 103px;
    }
    &__subwrap {
      margin-left: 17px;
      display: flex;
      flex-direction: column;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 133%;
      margin-bottom: 3px;
    }
    &__quantity {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: $subtitle-text-color;
      span {
        color: $inactive-color;
      }
    }
    &__viewBtn {
      font-weight: 400;
      font-size: 14px;
      color: $inactive-color;
      display: flex;
      align-items: center;
      margin-top: 3px;
      font-family: "Roboto", sans-serif;
      img {
        margin-left: 12px;
      }
    }
    &__sum {
      color: $inactive-color;
    }
    &__subwrap {
      flex-direction: row;
    }
    &__subtitle {
      width: 190px;
    }
    &__subwrap {
      gap: 94px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
}
