@import '../../../sass/utils/variables.scss';
.order {
  &__mainwrap {
    margin: 0 auto;
  }
  &__breadcrumb {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  &__list {
    display: flex;
  }
  &__list &__item {
    display: inline-block;
    position: relative;
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 486%;
  }
  &__list &__item + &__item {
    padding-left: 12px;
  }
  &__list &__item + &__item:before {
    content: "/";
    position: absolute;
    left: 3px;
  }
  &__link {
    color: $secondary-text-color;
  }
  &__wrap {
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    text-align: center;
  }
  &__subwrap,
  &__subwrap--active {
    display: flex;
    align-items: center;
  }
  &__subwrap--active {
    .order__line {
      background-color: #57a4eb;
    }
    .order__conf {
      border: 6px solid #57a4eb;
    }
  }
  &__line {
    height: 6px;
    width: 30px;
    background-color: $outline-color;
  }
  &__conf {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 6px solid $outline-color;
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  &__checkmark {
    width: 13px;
    height: 11px;
  }
  &__stage {
    font-size: 10px;
    margin-top: 14px;
  }
}

@media screen and (min-width: 480px) {
  .order {
    &__line {
      width: 75px;
    }
    &__stage {
      font-size: 16px;
    }
  }
}