@use "../../../sass/utils/mixins.scss" as *;
@use "../../../sass/utils/variables.scss" as *;

$arrow-size: 14px;
$bar-thickness: 2px;
$duration: 0.4s;
$easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);

.wishlist {
  @include flex($flex-direction: column, $align-items: center);
  padding-bottom: 40px;
  &_navigation {
    color: $secondary-text-color;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 68px;
    @include tab {
      font-size: 12px;
    }
    @include desk-s {
      font-size: 14px;
    }
  }
}

.mainWishlistCont {
  @include flex(
    $flex-direction: column,
    $align-items: stretch,
    $justify-content: flex-start
  );
  background: $bg-color;

  @include desk-s {
    @include flex(
      $justify-content: space-between,
      $flex-direction: row,
      $align-items: stretch
    );
    gap: 108px;
  }

  &_title {
    margin-bottom: 11px;
    color: $secondary-text-color;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    @include tab {
      margin-bottom: 20px;
      text-align: center;
      font-size: 27px;
    }

    @include desk-s {
      display: none;
      margin-bottom: 17px;
      color: $main-text-color-light;
      font-size: 48px;
      font-weight: 400;
      line-height: 68px;
    }
  }

  &_titleDesk {
    display: none;
    @include desk-s {
      display: flex;
      margin-bottom: 17px;
      color: $secondary-text-color;
      font-family: "Oswald", sans-serif;
      font-size: 48px;
      font-weight: 400;
      line-height: 68px;
    }
  }
}

.active {
  background-color: $form-bg-color;
  color: $secondary-text-color;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.wishlistCont {
  &_grid {
    display: grid;
    margin-bottom: 28px;
    gap: 28px 14px;
    grid-template-columns: repeat(2, 1fr);
    @include tab {
      grid-template-columns: repeat(3, 1fr);
      gap: 28px 25px;
    }
    @include desk-s {
      margin-bottom: 48px;
    }
  }

  &_actions {
    @include flex($flex-direction: column, $align-items: stretch);
    gap: 10px;
    @include desk-s {
      @include flex($flex-direction: row, $justify-content: flex-start);
      gap: 15px;
    }
  }

  &_actionBtn {
    position: relative;
    width: 100%;
    height: 32px;
    color: $secondary-text-color;
    border: 1px solid $divider-color;
    background: transparent;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition:
      color 1s ease,
      border-color 1s ease;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(240, 242, 242, 1);
      z-index: -2;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $secondary-text-color;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    }

    &:hover {
      color: rgb(255, 255, 255);
      border-color: $secondary-text-color;
      transition-delay: 0.22s;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
        transition-delay: 0.22s;
      }
    }
    @include desk-s {
      width: 169px;
      height: 40px;
    }
  }
}

.wishlistCard {
  max-width: 139px;
  @include tab {
    max-width: 150px;
  }
  @include desk-s {
    max-width: 200px;
  }
  &_imgWrapper {
    display: flex;
    gap: 6px;
    @include desk-s {
      gap: 9px;
    }
  }

  &_img {
    width: 113px;
    height: 152px;
    margin-bottom: 7px;
    user-select: none;
    @include desk-s {
      width: 167px;
      height: 219px;
    }
  }

  &_btnPositions {
    @include flex($flex-direction: column, $justify-content: flex-start);
    gap: 5px;
    @include desk-s {
      gap: 6px;
    }
  }

  &_topWomen {
    margin-bottom: 4px;
    color: rgba(189, 189, 189, 1);
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 15px;
    @include desk-s {
      display: none;
    }
  }

  &_title {
    margin-bottom: 4px;
    max-width: 113px;
    color: $secondary-text-color;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    @include desk-s {
      margin-bottom: 12px;
      max-width: 167px;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
    }
  }

  &_priceWrapper {
    max-height: 21px;
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;

    @include desk-s {
      margin-bottom: 17px;
    }
  }

  &_itemPrice {
    color: $secondary-text-color;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

    @include desk-s {
      color: $secondary-text-color;
    }
  }

  &_priceDiscount {
    color: $secondary-text-color;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &_priceOld {
    color: $accent-color;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
    line-height: 21px;
  }

  &_price {
    color: $secondary-text-color;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    @include desk-s {
      color: $secondary-text-color;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &_controls {
    display: flex;
    gap: 11px;
  }

  &_quantityInput {
    display: none;
    @include desk-s {
      display: flex;
      text-align: center;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid $subtitle-text-color;
      background: $contrast-text-color;
      color: $inactive-color;
      font-family: "Oswald", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &_addToCard {
    position: relative;
    width: 100%;
    height: 38px;
    background: $secondary-text-color;
    color: $bg-color;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition:
      transform 0.35s ease,
      box-shadow 0.35s ease;
    z-index: 0;
    overflow: hidden;
    user-select: none;

    &:hover {
      transform: scale(1.07);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    @include desk-s {
      width: 117px;
      height: 40px;
    }
  }
}

.removeButton,
.editButton {
  @include flex($align-items: center, $justify-content: center);
  width: 20px;
  height: 20px;
  background: rgb(230, 241, 250);
  cursor: pointer;
  border: none;
  transition: all 0.35s ease;
  z-index: 0;
  overflow: hidden;
  user-select: none;
  @include desk-s {
    width: 24px;
    height: 24px;
  }
}

.removeButton:hover,
.editButton:hover {
  transform: scale(1.09);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.removeIcon {
  width: 8px;
  height: 8px;
  @include desk-s {
    width: 10px;
    height: 10px;
  }
}

.editIcon {
  width: 8px;
  height: 8px;
  @include desk-s {
    width: 10px;
    height: 10px;
  }
}

.pagination {
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  gap: 10px;

  @include desk-s {
    margin-bottom: 48px;
  }

  &_btn {
    @include flex($align-items: center, $justify-content: center);
    width: 35px;
    height: 35px;
    border: 1px solid $divider-color;
    background-color: $bg-color;
    color: $inactive-color;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: $main-text-color-light;
      color: $main-text-color-light;
    }
  }

  &_active {
    background-color: $main-text-color-light;
    color: $bg-color;
    border-color: $main-text-color-light;

    &:hover {
      background-color: $inactive-color;
      color: $bg-color;
    }
  }

  &_active {
    background-color: $main-text-color-light;
    color: $bg-color;
    border-color: $main-text-color-light;

    &:hover {
      background-color: $inactive-color;
      color: $bg-color;
    }
  }

  &_arrow {
    @include flex($align-items: center, $justify-content: center);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: $main-text-color-light;
    transition: opacity 0.3s ease;

    &:hover {
      background-color: $form-bg-color;
    }

    &.disabled {
      opacity: 0.3;
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }

    @include desk-s {
      width: 35px;
      height: 35px;
    }
  }

  &_dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 20px;
    height: 30px;
    padding-bottom: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    color: $inactive-color;
    user-select: none;
  }
}

.arrow {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid $main-text-color-light;
  border-right: 2px solid $main-text-color-light;
  transition: border-color 0.3s ease;
}
.left {
  transform: rotate(-135deg);
  margin-left: 4px;
}
.right {
  transform: rotate(45deg);
  margin-right: 4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
