@import "../../../sass/utils/variables.scss";

.catalog{
  @media screen  and (min-width : 1454px){
    width: 1454px;
    margin: 0 auto;

  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 18px;
  column-gap: 14px;
  padding: 0 14px;
  width: 320px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1454px) {
    width: 1454px;
  }
}
.catalog__item {
  width: 139px;
  @media screen and (min-width: 768px) {
    height: 590px;
    width: 344px;
  }
}
.catalog__img {
  width: 139px ;
  height: 182px ;
  @media screen and (min-width: 768px) {
    width: 344px ;
    height: 450px ;
  }
}
.catalog__top {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #bdbdbd;
  margin-top: 14px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 18px;
  color: $main-text-color;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.catalog__price {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: $main-text-color;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}

.catalog__colors {
  display: flex;
  column-gap: 10px;
}

.catalog__color {
  width: 27px;
  height: 27px;
  border: 3px solid $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.catalog__color:hover {
  border-color: $main-text-color;
}

.catalog__color:focus {
  border-color: $main-text-color;
}

.color:hover .catalog__item {
  border-color: $main-text-color;
}

.color {
  width: 17px;
  height: 17px;
}
