@import "../../sass/utils/variables.scss";
@import "../../sass/utils/mixins.scss";

.container {
  width: 320px;
  padding: 0 14px;
  margin: 0 auto;
  outline: 1px solid red;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}

.cart {
  padding-top: 13px;
  font-family: Oswald;
  color: $main-text-color;
  padding-bottom: 27px;

   @media screen and (min-width: 768px) {
  padding-bottom: 116px;
  }

  &__subtitle {
    color: $secondary-text-color;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;

    @media screen and (min-width: 768px) {
      line-height: 485.714%;
      font-size: 14px;
      text-align: center;
    }

    @media screen and (min-width: 1920px) {
    }
  }

  &__title {
    margin-bottom: 15px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px $divider-color solid;
    line-height: 277.778%;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 141.667%;
      text-align: center;
      margin-top: 13px;
      margin-bottom: 55px;
    }

    @media screen and (min-width: 1920px) {
    }
  }

  &__everything {
    @include flex($flex-direction: column, $align-items: none, $gap: 0);

    @media screen and (min-width: 768px) {
      @include flex($align-items: none, $gap: 71px);
    }
  }

  &__phone {
    &__products {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &__item {
      padding-bottom: 14px;
      border-bottom: 1px $form-bg-color solid;
    }

    &__list {
      @include flex($gap: 14px);
    }

    &__content {
      @include flex($align-items: flex-start, $gap: 17px);
    }

    &__image {
      background-color: cadetblue;
      width: 81px;
      height: 103px;
    }

    &__info {
      @include flex(
        $align-items: flex-start,
        $flex-direction: column,
        $gap: 7px
      );
    }

    &__title {
      color: $main-text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 112.5%;
      letter-spacing: 0.2px;
      max-width: 157px;
      margin: 0;
    }

    &__number {
      color: #3f3f3f;
      font-size: 12px;
      font-weight: 400;
    }

    &__desc {
      color: $subtitle-text-color;
    }

    &__color {
      color: $subtitle-text-color;
      font-size: 12px;
      font-weight: 400;
      @include flex($justify-content: flex-start, $gap: 6px);
    }

    &__square {
      width: 18px;
      height: 18px;
      border: 1px $divider-color solid;
      @include flex;
    }

    &__square &__color {
      width: 12px;
      height: 12px;
      background-color: #5884aa;
    }

    &__actions {
      @include flex($flex-direction: column, $gap: 5px);
    }

    &__button {
      height: 20px;
      width: 20px;
      background-color: $functional-bg-color;
      @include flex;
    }

    &__icon {
      width: 9px;
      height: 9px;
    }

    &__subtitle {
      color: #3f3f3f;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &__amount {
      @include flex($justify-content: space-between, $align-items: flex-start);
    }

    &__quantity {
      padding-top: 8px;
      @include flex(
        $align-items: flex-start,
        $flex-direction: column,
        $gap: 11px
      );
    }

    &__rectangle {
      width: 119px;
      height: 43px;
      border: 1px solid $divider-color;
      @include flex($justify-content: space-between);
    }

    &__subtract {
      width: 41px;
      height: 41px;
      padding: 0;
      background-color: $bg-color;
      transition: background-color $st-transition;
      @include flex;

      &:hover {
        background-color: $main-hover-color;

        & div {
          background-color: $secondary-text-color;
        }
      }
    }

    &__minus {
      width: 12px;
      height: 2px;
      background-color: $divider-color;
      transition: background-color $st-transition;
    }

    &__add {
      position: relative;
      width: 41px;
      background-color: $bg-color;
      height: 41px;
      transition: background-color $st-transition;

      &:hover {
        background-color: $main-hover-color;

        & div {
          background-color: $secondary-text-color;
        }
      }
    }

    &__plus {
      position: absolute;
      top: 20px;
      left: 14px;
      width: 12px;
      height: 2px;
      background-color: $divider-color;
      transition: background-color $st-transition;
    }

    &__plus:last-child {
      top: 15px;
      left: 19px;
      height: 12px;
      width: 2px;
    }

    &__price {
      color: $main-text-color;
      text-align: right;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 44px;

      &__light {
        color: $subtitle-text-color;
        font-size: 12px;
        font-weight: 400;
        margin-right: 8px;
      }
    }
  }

  &__products {
    width: 883px;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__categories {
    @include flex($justify-content: none, $align-items: none);
  }

  &__categorie {
    color: $secondary-text-color;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__categorie:first-child {
    width: 182px;
    margin-right: 141px;
  }

  &__categorie:nth-child(2) {
    width: 78px;
    margin-right: 40px;
  }

  &__categorie:nth-child(3) {
    width: 37px;
    margin-right: 40px;
  }

  &__categorie:nth-child(4) {
    width: 119px;
    margin-right: 40px;
  }

  &__categorie:last-child {
    width: 88px;
  }

  &__list {
    width: 884px;
    margin-top: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px $divider-color solid;
    border-bottom: 1px $divider-color solid;
    // background-color: red;
  }

  &__item {
    @include flex($justify-content: none, $align-items: none);

    &__image {
      width: 84px;
      height: 103px;
      background-color: crimson;
    }

    &__wrapper {
      @include flex(
        $justify-content: flex-start,
        $align-items: none,
        $gap: 13px,
        $flex-direction: column
      );
      margin-left: 17.5px;
      margin-right: 35px;
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin: 0;
      width: 187px;
    }

    &__square {
      width: 23px;
      height: 23px;
      border: 1px $divider-color solid;
      @include flex;
    }

    &__color {
      width: 15px;
      height: 15px;
      background-color: #5884aa;
    }

    &__price {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 500;
      line-height: 142.857%;
      @include flex($justify-content: flex-start);
      width: 78px;
      height: 103px;
      margin-right: 40px;
    }

    &__size {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 500;
      line-height: 142.857%;
      @include flex($justify-content: flex-start);
      width: 32px;
      height: 103px;
      margin-right: 45px;
    }

    &__quantity__rectangle {
      margin-top: 31px;
      width: 119px;
      height: 43px;
      border: 1px solid $divider-color;
      @include flex($justify-content: space-between);
      margin-right: 40px;
    }

    &__quantity__subtract {
      width: 41px;
      height: 41px;
      padding: 0;
      background-color: $bg-color;
      transition: background-color $st-transition;
      @include flex;

      &:hover {
        background-color: $main-hover-color;

        & div {
          background-color: $secondary-text-color;
        }
      }
    }

    &__quantity__minus {
      width: 12px;
      height: 2px;
      background-color: $divider-color;
      transition: background-color $st-transition;
    }

    &__quantity__add {
      position: relative;
      width: 41px;
      background-color: $bg-color;
      height: 41px;
      transition: background-color $st-transition;

      &:hover {
        background-color: $main-hover-color;

        & div {
          background-color: $secondary-text-color;
        }
      }
    }

    &__quantity__plus {
      position: absolute;
      top: 20px;
      left: 14px;
      width: 12px;
      height: 2px;
      background-color: $divider-color;
      transition: background-color $st-transition;
    }

    &__quantity__plus:last-child {
      top: 15px;
      left: 19px;
      height: 12px;
      width: 2px;
    }

    &__total {
      font-family: "Roboto";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.857%;
      width: 76px;
      height: 103px;
      @include flex($justify-content: flex-start);
      margin-right: 38px;
    }

    &__buttons {
      @include flex($gap: 10px);
    }

    &__button {
      width: 24px;
      height: 24px;
      background-color: $functional-bg-color;
      @include flex;
      cursor: pointer;
      transition: background-color $st-transition;

      &:hover {
        background-color: $functional-bg-hover-color;
      }
    }

    &__icon {
      width: 11px;
      height: 10px;
    }
  }

  &__button {
    color: $secondary-text-color;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    border: 2px solid $divider-color;
    background: $main-hover-color;
    transition: border $st-transition;

    &:hover {
      border: 2px solid $secondary-text-color;
    }
  }

  &__wrapper {
    margin-top: 24px;
    @include flex($justify-content: space-between);
  }

  &__form {
    @include flex($align-items: none, $flex-direction: column, $gap: 20px);

    @media screen and (min-width: 768px) {
      gap: 24px;
    }
  }

  &__details {
    width: 292px;
    border: none;
    background: $bg-color;
padding: 0;

    @media screen and (min-width: 768px) {
      background: $form-bg-color;
      border: 2px solid $divider-color;
    height: 614px;
    padding-left: 32px;
padding-right: 24px;
    padding-top: 36px;
      width: 500px;
    }

    & h6 {
      font-weight: 400;
      margin: 0;
      color: $secondary-text-color;
      font-size: 14px;
      text-transform: uppercase;

      @media screen and (min-width: 768px) {
        color: $main-text-color;
        font-size: 24px;
        text-transform: initial;
      }
    }

    &__wrapper {
      margin-top: 22px;
      position: relative;
    }

    &__input {
      margin-bottom: 26px;
      width: 292px;
      height: 40px;
      border: 1px solid $divider-color;
      background: $bg-color;
      padding-left: 16px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 125%;

      @media screen and (min-width: 768px) {
        width: 444px;
        height: 44px;
      }

      &::placeholder {
        color: $divider-color;
      }
    }

    &__btn {
      position: absolute;
      top: 4px;
      right: 3px;
      width: 86px;
      height: 32px;
      background-color: $form-bg-color;
      color: $inactive-color;
      font-family: Oswald;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      transition: background-color $st-transition;
      border: 2px solid $divider-color;

      @media screen and (min-width: 768px) {
        width: 125px;
        background-color: transparent;
        border:  none;
        top: 1px;
        right: -3px;
        height: 42px;
      }

      &:hover {
        background-color: $form-bg-color;
      }
    }

    &__subtitle {
      margin-top: 15px;
      margin-bottom: 25px;
      color: $secondary-text-color;
      font-family: Roboto;
      font-weight: 400;
      line-height: 125%;
      font-size: 10px;

      @media screen and (min-width: 768px) {
        font-size: 16px;
        margin-top: 10px;
      }
    }

    &__shipping {
      @include flex($align-items: none, $gap: 17px, $flex-direction: column);

      @media screen and (min-width: 768px) {
        gap: 25px;
      }
    }

    &__info {
      color: $inactive-color;
      font-family: Roboto;
      font-weight: 400;
      line-height: 125%;
      font-size: 12px;

      @media screen and (min-width: 768px) {
        font-size: 16px;
      }

      &__red {
        color: $accent-color;
        margin-left: 8px;
      }
    }

    &__select {
      padding-left: 16px;
      width: 289px;
      height: 44px;
      border: 1px solid $divider-color;
      background: $bg-color;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: none;
      color: $inactive-color;
      font-family: Roboto;
      font-weight: 450;
      line-height: 125%;
      font-size: 12px;

      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }

    &__information {
      @include flex($justify-content: space-between);
    }

    &__postcode {
      width: 289px;
      height: 44px;
      border: 1px solid $divider-color;
      background: $bg-color;
      padding-left: 16px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 125%;
    }

    &__tax {
      margin-top: 17px;
      margin-bottom: 13px;
      line-height: 133.333%;
      font-size: 12px;
      font-weight: 400;

      @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &__taxchoice {
      margin-left: 13px;
      color: #3f3f3f;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;

      @media screen and (min-width: 768px) {
        font-size: 14px;
        text-transform: initial;
      }
    }
  }

  &__total {
    padding-top: 15px;
    width: 292px;
    height: 182px;
    border: 2px solid $divider-color;
    background: $form-bg-color;
    position: relative;

    @media screen and (min-width: 768px) {
      width: 500px;
      height: 295px;
      padding-top: 34px;
    }

    &__subtitle {
      font-weight: 500;
      line-height: 133.333%;
      @include flex($justify-content: space-between);
      width: 268px;
      margin-right: auto;
      margin-left: auto;
      color: $secondary-text-color;
      font-size: 10px;

      @media screen and (min-width: 768px) {
        font-size: 18px;
        width: 444px;
        color: $main-text-color;
      }

      & p:last-child {
        color: $main-text-color;
      }
    }

    &__tax {
      margin-top: 13px;
      color: $secondary-text-color;
      font-weight: 500;
      line-height: 133.333%;
      @include flex($justify-content: space-between);
      width: 268px;
      margin-right: auto;
      margin-left: auto;
      font-size: 10px;
      @media screen and (min-width: 768px) {
        width: 444px;
        font-size: 18px;
      }
    }

    &__title {
      margin-top: 20px;
      @include flex($justify-content: space-between);
      width: 268px;
      margin-right: auto;
      margin-left: auto;
      font-size: 12px;
      font-weight: 500;

      @media screen and (min-width: 768px) {
        width: 444px;
      margin-top: 26px;
        font-weight: 400;
        font-size: 24px;
      }
    }

    &__line {
      width: 444px;
      width: 268px;
      height: 1px;
      background-color: $divider-color;
      margin-right: auto;
      margin-left: auto;
      margin-top: 12px;

      @media screen and (min-width: 768px) {
        width: 444px;
        margin-top: 30px;
      }
    }

    &__checkout__multiple {
      width: 292px;
      height: 38px;
      background-color: transparent;
      color: $secondary-text-color;
      font-family: Oswald;
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-size: 12px;
      position: absolute;
      left: -2px;
      bottom: 39px;

      @media screen and (min-width: 768px) {
        font-size: 14px;
        width: 500px;
        height: 55px;
        bottom: 55px;
      }
    }

    &__checkout {
      width: 292px;
      height: 39px;
      background-color: $main-text-color;
      color: $contrast-text-color;
      font-family: Oswald;
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      left: -2px;
      font-size: 12px;

      @media screen and (min-width: 768px) {
        width: 500px;
        height: 55px;
        font-size: 14px;
        bottom: -2px;
      }
    }
  }
}
