@import "../../sass/utils/variables.scss";
@import "../../sass/utils/mixins.scss";

.header {
  background-color: black;
  padding: 15px 0;

  @media screen and (min-width: 768px) {
    padding: 36px 0;
  }

  &__menu {
    background-color: transparent;


    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__price {
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &__nav {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__wrap {
    @include flex(space-between, center, 0, nowrap, row);
  }

  &__logo {
    width: 63px;
    height: 29px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
      position: static;
      left: 0;
      transform: none;
    }

    @media screen and (min-width: 1200px) {
      width: 80px;
      height: 36px;
    }
  }

  &__center {
    @include flex(start, center, 29px, nowrap, row);
    margin-left: auto;
    margin-right: 15px;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  &__search {
    @include flex(start, flex-end, 8px, nowrap, row);
  }

  &__right { 
    @include flex(start, center, 25px, nowrap, row);

    @media screen and (min-width: 1200px) {  
      @include flex(start, center, 31px, nowrap, row);
    }
  }

  &__actions {
    @include flex(start, center, 20px, nowrap, row);
  }
  
  &__authentication { 
    display: none;

    @media screen and (min-width: 768px) {
      @include flex(start, center, 12px, nowrap, row);
    }
  }

  &__like {
    background-color: black;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__cart {
    @include flex(start, center, 11px, nowrap, row);
  }

  &__bag {
    height: 20px;
    width: 18px;
  }
}

.price {
  &__caption {
    @include typography("Roboto Medium", 400, 12px, 100%, 0%, start);
    color: $contrast-text-color;
  }

  &__quantity {
    @include typography(Roboto, 700, 14px, 100%, 0%, start);
    color: $contrast-text-color;
  }
}

.auth {
  &__link {
    color: $contrast-text-color;
    @include typography(Oswald, 600, 14px, 100%, 0%, start);
  }
}

.search {
  &__icon {
    width: 19px;
    height: 19px;
  }

  &__input {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 50px;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      width: auto;
    }

    @include typography(Oswald, 600, 14px, 100%, 0%, start);

    &::placeholder {
      color: $contrast-text-color;
      text-transform: uppercase;

      @include typography(Oswald, 600, 14px, 100%, 0%, start);
    }
  }
}

.nav {
  &__list {
    @include flex(start, center, 15px, nowrap, row);

    @media screen and (min-width: 1200px) { 
      @include flex(start, center, 29px, nowrap, row);
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $contrast-text-color;

    @include typography(Oswald, 600, 14px, 100%, 0%, center);
  }
}
