@import "../../sass/utils/variables.scss";
@import "../../sass/utils/mixins.scss";

.header {
  background-color: black;
  padding: 36px 0;

  &__wrap {
    @include flex(space-between, center, 0, nowrap, row);
  }

  &__gap {
    @include flex(start, center, 615px, nowrap, row);
  }

  &__logo {
    width: 94px;
    height: 44px;
  }

  &__center {
    @include flex(start, center, 29px, nowrap, row);
  }

  &__search {
    @include flex(start, flex-end, 8px, nowrap, row);
  }

  &__right { 
    @include flex(start, center, 31px, nowrap, row);
  }

  &__actions {
    @include flex(start, center, 20px, nowrap, row);
  }
  
  &__authentication { 
    @include flex(start, center, 12px, nowrap, row);
  }

  &__like {
    background-color: black;
  }

  &__cart {
    @include flex(start, center, 11px, nowrap, row);
  }

  &__bag {
    height: 20px;
    width: 18px;
  }
}

.price {
  &__caption {
    @include typography("Roboto Medium", 400, 12px, 100%, 0%, start);
    color: $contrast-text-color;
  }

  &__quantity {
    @include typography(Roboto, 700, 14px, 100%, 0%, start);
    color: $contrast-text-color;
  }
}

.auth {
  &__link {
    color: $contrast-text-color;
    @include typography(Oswald, 600, 14px, 100%, 0%, start);
  }
}

.search {
  &__icon {
    width: 16px;
    height: 21px;
  }

  &__input {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;

    @include typography(Oswald, 600, 14px, 100%, 0%, start);

    &::placeholder {
      color: $contrast-text-color;
      text-transform: uppercase;

      @include typography(Oswald, 600, 14px, 100%, 0%, start);
    }
  }
}

.nav {
  &__list {
    @include flex(start, center, 29px, nowrap, row);
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $contrast-text-color;

    @include typography(Oswald, 600, 14px, 100%, 0%, center);
  }
}
