@import "../../sass/base/base.scss";

.mini-catalog {
    background-color: $main-bg-color-dark;

	&__main-title {
		color: $main-text-color-dark;
	}

	&__item {
		&-category {
			color: $subtitle-text-color;
		}

		&-title {
			color: $main-text-color-dark;
		}

		&-price {
			color: $main-text-color-dark;

			&-discount {
				color: $accent-color;
			}

			&-old {
				color: $secondary-text-color;
			}
		}
	}

	&__load-button {
		border: 1px solid $divider-color;
		background-color: transparent;
		color: $secondary-text-color;
	}
}
