@import "../../sass/utils/variables.scss";
@import "../../sass/utils/mixins.scss";

.mini-catalog {
	&__wrap {
		display: flex;
		flex-direction: column;
	}

	&__main-list {
		display: none;
	}

	&__main-title {
		@include typography(Oswald, 400, 18px, 68px, 0%, _);
	}

	&__aside {
		border: none;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		column-gap: 14px;
		row-gap: 18px;
	}

	&__item {
		width: 139px;
		height: 260px;

		&-image {
			width: 100%;
			height: auto;
		}

		&-category {
			@include typography(Oswald, 600, 12px, 22px, 0%, _);
			text-transform: uppercase;
			color: $subtitle-text-color;
		}

		&-title {
			@include typography(Oswald, 300, 12px, 18px, 0%, _);
			color: $main-text-color;
		}

		&-price {
			@include typography(Oswald, 500, 14px, 100%, 0%, _);
			text-transform: uppercase;
			color: $main-text-color;
		}
	}
}

@media screen and (min-width: 480px) {
	.mini-catalog {
		&__wrap {
			max-width: 320px;
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: 768px) {
	.mini-catalog {
		&__wrap {
			max-width: 598px;
		}

		&__list {
			max-width: 100%;
			// justify-content: space-between;
			gap: 14px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.mini-catalog {
		padding: 0;
		&__button-wrap {
			display: flex;
		}

		&__wrap {
			margin: 0;
			max-width: 100%;
		}

		&__list {
			// justify-content: space-between;
			gap: 31px;
		}

		&__item {
			width: 210px;
			height: 420px;

			&-title {
				@include typography(Oswald, 300, 18px, 100%, 0%, _);
			}

			&-price {
				@include typography(Oswald, 500, 22px, 100%, 0%, _);
			}
		}

		&__title {
			@include typography(Oswald, 400, 24px, 68px, 0%, _);
		}
	}
}

@media screen and (min-width: 1920px) {
	.mini-catalog {
		&__wrap {
			padding: 30px 0;
			flex-direction: row;
		}

		&__main-list {
			display: block;
		}

		&__main-wrap {
			width: 394px;
		}

		&__main-title {
			@include typography(Oswald, 400, 24px, 68px, 0%, _);
		}

		&__aside {
			width: 1484px;
			padding-left: 30px;
			border-left: 1px solid $divider-color;
		}

		&__list-wrap {
			max-width: 100%;
		}

		&__list {
			flex-wrap: wrap;
			column-gap: 25px;
			row-gap: 48px;
		}

		&__item {
			width: 344px;
			height: 548px;
		}
	}
}
