

.footer { 
    background-color: rgba(0,0,0,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topFooter{
    width: 100%;
    // height: 100px;
    background-color: #E6F1FA;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
    height: 218px;
}
.topFooterList{
    display: flex;
    // column-gap: 100px;
    justify-content: center;
    align-items: center;

    align-items: start;
    flex-direction: column;
    row-gap: 22px;
}
.topFooterItem{
    display: flex;
    align-items: center;
    column-gap: 22px;

    // column-gap: 14px;
 
   
}
.topFooterSvg{
    padding-top: 2px;
    width: 15px;
    height: 15px;
}
.topFooterText{
font-family: Oswald;
font-weight: 400;
font-size: 14px;


}
.mainFooterLogo{
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}
.mainFooter{
display: flex;
flex-direction: column;
align-items: center;
    background-color: rgba(0,0,0,255);
    // padding-top: 64px;
    // padding-bottom: 134px;

    padding-top: 27px;
    padding-bottom: 24px;
}

.footerTitleCenter{
    display: flex;
    align-items: center;
    // column-gap: 273px;
    padding-bottom: 14px;
    padding-top: 16px;
    border-bottom: 1px solid #4F4F4F;
    justify-content: space-between;
}
.mainFooterOpenButton{
    width: 19px;
    height: 18px;
    background-color: transparent;
   
}
.mainFooterCloseButton{
        width: 19px;
    height: 18px;
    background-color: transparent;
    display: none;
}
.footerFeaturesList{
    // display: flex;
flex-direction: column;
    row-gap: 15px;

    display: none;
}
.footerMenuList{
    // display: flex;
    flex-direction: column;
    row-gap: 15px;

    display: none;
}
.mainFooterSvg{
    width: 102.2px;
    height: 44px;
}
.mainFooterItemTitle{
  text-transform: uppercase;
    color: #FFFFFF;
  
    font-family: Oswald;
font-weight: 500;
font-size: 14px;


}
.mainFooterList{
    display: flex;
    justify-content: center;
    column-gap: 85px;

    flex-direction: column;
}
.footerFeaturesItemLink{
    text-transform: uppercase;
    color: #828282;
}
.footerMenuItemLink{
    text-transform: uppercase;
    color: #828282;
}
.footerContactUsList{
    // display: flex;
    flex-direction: column;
    row-gap: 15px;

    display: none;
}
.mainFooterItemSubtitle{
      text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 5px;
}
.mainFooterItemContacts{
    color: #828282;
}
.footerFollowUsIcon{
    width: 21px;
    height: 21px;
}
.footerFollowUsSocialMedia{
    color : #828282;
}
.mainFooterSubscribeText{
    // margin-top: -7px;
    color: #828282;
    // margin-bottom: 3px;

    margin-top: 8px;
    font-family: Roboto;
font-weight: 400;
font-size: 11px;
text-transform: uppercase;

}
.footerFollowUsList{
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}
.footerFollowUsItem{
    display: flex;
    column-gap: 18.7px;
}
.footerBottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding-bottom: 40px;
 
    
}
.footerBottomHr{
    width: 100%;
 border: none;
  border-top: 1px solid #4F4F4F;

  display: none;
}
.footerBottomText{
    color: #FFFFFF;
    font-family: Roboto;
font-weight: 700;
font-size: 12px;
text-transform: uppercase;

}

.mainFooterSubscribe{
    display: flex;
    flex-direction: column;
    row-gap: 7px;

    margin-top: 24px;
    margin-bottom: 38px;
}
.mainFooterItemTitle{
    // margin-bottom: 30px;
}
.mainFooterSubscribeInput::placeholder{
    color: #FFFFFF;
 opacity: 1;
  
}
.mainFooterSubscribeInput{
    display: flex;
    align-items: start;
    width: 280px;
    height: 43.2px;
    background-color: #000000;
    color: #FFFFFF;
    border-color: #FFFFFF;
    padding-left: 15px;
}
.mainFooterSubscribeButton{
    width: 280px;
    height: 40px;
    color: #3F3F3F;
      text-transform: uppercase;

      font-family: Oswald;
font-weight: 400;
font-size: 14px;


}


@media screen and (min-width: 768px) {
    .topFooter{
        height: 100px;
    }
    .topFooterItem{
        column-gap: 14px;
    }
    .topFooterList{
        flex-direction: row;
        column-gap: 30px;
    }
.mainFooterList {
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 78px;
   
}
.footerTitleCenter{
    column-gap: 7px;
}
.footerBottom{
    width: 95%;
}
.footerBottomHr{
    display: block;
}
}
@media screen and (min-width: 1200px) {
    .mainFooterOpenButton{
        display: none;
    }
    .topFooterList{
        justify-content: space-between;
    }
.footerBottom{
    width: 99%;
}

.footerTitleCenter{
    padding-top: 0;
    border-bottom: none;
}
.mainFooterSubscribe{
    margin-top: 0;
    padding-left: 30vw;
}
.mainFooterList{
    justify-content: space-between;
}
.footerFeaturesList{
    display: flex;
}
.footerMenuList{
    display: flex;
}
.footerContactUsList{
    display: flex;
}
}


@media screen and (min-width: 1920px){
.mainFooterSubscribe{

    padding-left: 0;
}
}



